<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mining.app.zxing">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

    </application>

</manifest>
